<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtility By Ayush..</title>
</head>
<body>
<h1>Welcome To The Text Analyzer . Enter Your Text Below⬇️::-- </h1>
<form action='/analyze' method='get'>
    <textarea name = 'text' style="width: 1431px; height: 297px;" spellcheck="false"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="uppercase">Convert To Upper Case<br>
    <input type="checkbox" name="newline">Remove Newline from the Strings<br>
    <input type="checkbox" name="charcount">Character Counter from the Strings<br>

    <button type="submit">Analyze Text </button><br>

</form>
</body>
</html>

